* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    font-size: clamp(16px, 1.5vw, 24px);
    background-color: rgb(28,28,30);
}

a {
    color: #ffffff;
    transition: color 0.3s;
    text-decoration: none;
}

a:hover {
    color: #929292;
}

.container {
    width: 100%;
    height: 100vh;
    border-collapse: collapse; 
    table-layout: fixed; 
}

.block {
    box-sizing: border-box;
    font-weight: bold;
    overflow-wrap: anywhere;
    vertical-align: top;
}

.block1 {
    width: 100%;
    height: 20%; 
    background-color: rgb(21, 21, 21);
    text-align: right;
}

.block2 {
    width: 25%; 
    height: auto;
    background-color: rgb(21, 21, 21);
    padding: 10px;
}

.block3 {
    width: 50%;
    height: auto; 
    background-color: rgb(28,28,30);
    padding: 10px;
}

.block4 {
    width: 25%; 
    height: auto;
    background-color: rgb(28,28,30);
    text-align: center;
    padding: 10px;
    color: white;
}

.block4 h2 {
    font-size: clamp(18px, 2vw, 36px);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat Bold', sans-serif;
}

.block5 {
    width: 25%;
    height: auto;
    background-color: rgb(28,28,30);
    padding: 10px 10px 30px 10px;
    margin-bottom: 20px;
}

.block5 li, .block4 li {
    color: white;
    margin: 20px 0;
    padding-left: 0;
    list-style-position: inside;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: clamp(5px, 2vw, 33px);
}

.block5 p {
    font-size: clamp(14px, 2vw, 33px);
    font-weight: bold;
    color: white;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 15px;
}

.block6 {
    font-family: "Anton", sans-serif;
    font-size: clamp(13px, 2vw, 32px);
    width: 50%;
    height: auto;
    background-color: #000000;
    color: white;
    white-space: normal;
    padding: 10px;
    box-sizing: border-box;
}

.block6 h1 {
    font-size: clamp(20px, 2.5vw, 40px);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.block7 {
    width: 100%;
    height: 10%;
    background-color: rgb(21, 21, 21);
    text-align: right;
    padding: 10px;
}

.block img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blockX, .blockY {
    font-size: clamp(20px, 4vw, 60px);
    color: white;
    padding: 1vh 2vw;
    display: inline-block;
    font-family: "Anton", sans-serif;
    max-width: 80%;
}

.blockX {
    position: relative;
    top: 50%;
}

.blockY {
    position: relative;
    top: 50%;
    transform: translateY(-20%);
}

ol, ul {
    padding-left: 1rem;
    margin: 0 auto;
    max-width: 80%;
    text-align: left;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}
