

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    font-size: clamp(16px, 1.5vw, 24px);
    overflow: auto;
    background-color: rgb(28,28,30);
}

a {
    color: #ffffff;

    transition: color 0.3s;
    text-decoration: none;
}

a:hover {
    color: #929292;
}


.container {
    height: 100vh;
    position: relative;
    overflow: auto;
}

.block {

    position: absolute;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    overflow-wrap: anywhere;
    font-weight: bold;
    max-height: 100vh;
}

.block1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 20%; 
    background-color: rgb(21, 21, 21);
    text-align: center;
}

.block2 {
    top: 20%; 
    left: 0;
    height: 15%; 
    width: calc(25% - 10px); 
    background-color: rgb(21, 21, 21);

    float: left;
}

.block5 {
    top: calc(35%);
    left: 0;
    height: 54.8%;
    width: calc(25% - 10px);
    background-color: rgb(28,28,30);
    padding-bottom: 30px;
    margin-bottom: 20px;
    float: left;

}
.block5 li, .block4 li{
    color: white;
    margin: 20px 0;   
    padding-left: 0px;  
    list-style-position: inside; 
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: clamp(7px, 1vw, 33px);
}
.block5 p {
    font-size: clamp(14px, 2vw, 33px);
    font-weight: bold;
    color: white;
    text-align: left; 
    padding-left: 20px;  
    margin-bottom: 15px; 
}
.block3 {
    top: calc(20%);
    left: 24.4%; 
    width: calc(50.6%); 
    height: 42.19%;
    background-color: rgb(28,28,30); 
}

.block6 {
    font-family: "Anton", sans-serif;
    font-size: clamp(13px, 2vw, 32px); 
    position: absolute;        
    top: calc(60% + 20px);
    left: 24.4%;
    width: calc(50.6%);
    height: calc(28%);
    background-color: #000000;
    color: white;


    white-space: normal;      
    overflow-y: auto;           
    overflow-x: hidden;       

    padding: 10px;             
    box-sizing: border-box;
}
.block6 h1 {
    font-size: clamp(20px, 2.5vw, 40px);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.block4 {
    top: 20%;
    left: 75%;
    width: 25%;
    height: calc(70% + 10px);
    max-height: 100%;
    background-color: rgb(28,28,30);;
    text-align: center;
    padding: 0;
    color: white;

}

.block4 h2 {
    font-size: clamp(18px, 2vw, 36px);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat Bold', sans-serif;
}

.block7 {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgb(21, 21, 21);
    text-align: center;
    margin-top: 10px; 
}

.block img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blockX, .blockY{
    font-size: 2vw;
    color: white;
    padding: 1vh 2vw; 
    position: absolute;
    display: inline-block;
    font-family: "Anton", sans-serif;
    max-width: 80%;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;

}


.blockX {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
        font-size: clamp(20px, 4vw, 60px);
}

.blockY {
    bottom: 50%;
    right: 10px;
    transform: translateY(50%);
    font-size: clamp(28px, 4vw, 60px);

}

ol, ul {
    padding-left: 1rem; 
    margin: 0 auto;
    max-width: 80%; 
    text-align: left;
    max-height: 100%;
    overflow: auto;
}

ol {
    list-style-type: decimal;

}

ul {
    list-style-type: disc;

}












